/* 背景透過 */
*{
  background: transparent !important;
}

/*コメント以外の部分の消去*/
.stream-chat-header,
.tw-z-default,
.chat-input,
.chat-line__status,
.cmZlUu.Layout-sc-1xcs6mc-0,
.chat-signup-gate__overlay-gradient.gdhlYw.Layout-sc-1xcs6mc-0,
.chat-signup-gate-overlay.bANGbT.Layout-sc-1xcs6mc-0{
    visibility: hidden !important;
    width: 0 !important;
    height: 0 !important;
    border: none !important;
}

/*名前の後ろのコロンを消去*/
span[aria-hidden="true"]{
    display: none !important;
}

/*チャットバッチ消去*/
.chat-line__username-container span:first-child{
  display: none !important;
}