/* 背景透過 */
*{
  background: transparent !important;
}

/*コメント以外の部分の消去*/
.stream-chat-header,
.tw-z-default,
.chat-input,
.chat-line__status {
    visibility: hidden !important;
    width: 0 !important;
    height: 0 !important;
    border: none !important;
}

/*ユーザ名の後ろのコロンを消去*/
span[data-test-selector="chat-message-separator"] {
  display: none !important;
}

/*チャットバッジ消去*/
.chat-line__username-container span:first-child {
  display: none !important;
}

/*ユーザ名コンテナ*/
.chat-line__username {
  
}

/* @charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Kaisei+Decol:wght@500&family=Kiwi+Maru:wght@500&family=M+PLUS+Rounded+1c:wght@500&family=RocknRoll+One&family=Sawarabi+Mincho&family=Shippori+Mincho:wght@500&family=Yuji+Mai&family=Yusei+Magic&display=swap');


body, .chat-room, .chat-line__moderation, .chat-line__status, .chat-line__message, .chat-author__display-name {
	margin: 0 auto!important;
	overflow: hidden!important;
	font-weight: bold!important;
	font-size: 10px!important;
	background-color: rgba(0,0,0,0)!important;
	line-height:1.2;
  letter-spacing: 0.1em;
}

.chat-line__no-background{
    display: inline-block!important;
    width: auto!important;
    color: #571512;
    color: var(--main-color);
    margin-left:18px;
    padding: 12px 28px;
    border-radius: 16px;

    position: relative;
    outline: 2px dashed #571512;
    outline: 2px dashed var(--main-color);
    background: #f0c8a4;
    background: var(--sub-color);
    outline-offset: -10px;
    border: 4px solid #571512;
    border: 4px solid var(--main-color);
}

.chat-line__no-background:after, .chat-line__no-background:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
}

.chat-line__no-background:after {
	border-right-color: #f0c8a4;
    border-right-color: var(--sub-color);
	border-width: 8px;
	margin-top: -8px;
}
.chat-line__no-background:before {
	border-right-color: #571512;
    border-right-color: var(--main-color);
	border-width: 14px;
	margin-top: -14px;
}

.chat-line__username-container span:first-child {
	display: none !important;
}

span[aria-hidden="true"] {
	display: none !important;
}


.stream-chat-header,
.channel-leaderboard-container,
.tw-interactable,
.tw-z-default,
.chat-input,
.chat-line__status{
  visibility: hidden!important;
  display:none!important;
  width: 0!important;
  height: 0!important;
  border: none!important;
}

.user-notice-line{
  display:none;
}

.kAQTjE,
.hZLfAO {
    display: none !important;
}

.community-highlight-stack__scroll-area--disable{
  display: none!important;
}
.community-highlight-stack__backlog-card,
.community-highlight-stack__nav-target{
  display: none !important;
}
.paid-pinned-chat-message-list{
  display: none;
}

.paid-pinned-chat-message-content-wrapper{
  display: none!important;
} */